<!DOCTYPE html>

<html lang="en" ng-app = "myApp">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="app.css" type="text/css" /> 
    <link href="Scripts/bootstrap/bootstrap-css/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/angular-ui-tree.css" rel="stylesheet" />
    
    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.Children && node.Children.length > 0" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon"
                      ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
            </a>
            {{node.Name}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.Children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.Children" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>

</head>
<body ng-controller="InfluenceController">

<div ng-include="'shared/header.html'"></div>

<div class="container-fluid">

    <div class="col-sm-8" ng-controller="MyCtrl">
        <ol class="breadcrumb">
            <li><font size="4" color="180E30">{{selectedtreepath}}</font></li>
        </ol>

        <button class="btn btn-link" ng-click="exportToExcel('#FunctionalTable', 'Functional Details')">
            <span class="glyphicon glyphicon-share"></span>

        </button>
        
        <div class="row">
            <div class="col-sm-4">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="search-input form-control input-lg" placeholder="Quick search..." id="txtsearch" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <h3>Basic Example</h3>

                <button ng-click="expandAll()">Expand all</button>
                <button ng-click="collapseAll()">Collapse all</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes ng-model="data">
                        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="info">
                    {{Name}}
                </div>
                <pre class="code">{{ data | json }}</pre>
            </div>
        </div>

        <!--<div class="card text-left">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="active"><a href="#FunctionalTable" data-toggle="tab" style="background-color: rgb(91,192,222);">Functional</a></li>
                    <li><a href="#DatabaseTable" data-toggle="tab" style="background-color: rgb(91,192,222);">Database</a></li>
                    <li><a href="#OthersTable" data-toggle="tab" style="background-color: rgb(91,192,222);">Other Details</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="FunctionalTable">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th>IMPACT AREA</th>
                            <th>PRODUCT</th>
                            <th>MODULE</th>
                            <th>COMPLEXITY</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="Funcdetails in myDataTable.Functional">
                            <td>{{ Funcdetails.Impact }}</td>
                            <td>{{ Funcdetails.Product }}</td>
                            <td>{{ Funcdetails.Module }}</td>
                            <td><p><font color="red">{{ Funcdetails.Complexity }}</font></p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="DatabaseTable">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Impact Details</th>
                            <th>Product</th>
                            <th>Module</th>
                            <th>Compexity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="DBDetails in myDataTable.DatabaseDetails">
                            <td>{{ DBDetails.Description }}</td>
                            <td>{{ DBDetails.DbObject }}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane " id="OthersTable">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Impact Details</th>
                            <th>Product</th>
                            <th>Module</th>
                            <th>Compexity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="AddDetails in myDataTable.AdditionalDetails">
                            <td>{{ AddDetails.DbType }}</td>
                            <td>{{ AddDetails.DbObject }}</td>
                            <td>{{ AddDetails.Description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->


    </div>
</div>
    
<div ng-include="'shared/footer.html'"></div>
    
    <!-- JavaScript -->
    <!--[if IE 8]>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
    <![endif]-->

    
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/angular/angular-route.min.js"></script> 
    <script src="Scripts/jquery/jquery.min.js"></script>
    <script src="Scripts/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    
     <script src="main.js"></script>
    <script src="controllers/handleCtrl.js"></script>
    <script src="controllers/nodeCtrl.js"></script>
    <script src="controllers/nodesCtrl.js"></script>
    <script src="controllers/treeCtrl.js"></script>
    <script src="directives/uiTree.js"></script>
    <script src="directives/uiTreeHandle.js"></script>
    <script src="directives/uiTreeNode.js"></script>
    <script src="directives/uiTreeNodes.js"></script>
    <script src="services/helper.js"></script>

    <script src="config.js"></script>
    <script src="app.js"></script>



  

</body>
</html>
