<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
            <h3>Select Product</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table>
                <tr>
                    <td>
                        <div class="styled-select slate">
                            <select ng-model="graphmodel" ng-options="item as item.ProductName for item in graphData"
                                    ng-change="init()"></select>
                        </div>
                    </td>
                    <td>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" ng-click="generateGraph()">
                                <i class="glyphicon glyphicon-search"> </i>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <div class="col-md-8"><div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="1000" close="closeAlert($index)">{{alert.msg}}</div></div>
        </div>
    </div>
    <hr />
        <div class="row" ng-show="graphmodel.Dependencies.length > 0">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{graphmodel.ProductName}} Bar Chart Dependency</div>
                    <div class="panel-body">
                        <canvas id="bar"
                                class="chart chart-bar"
                                chart-data="data"
                                chart-labels="labels"
                                chart-series="series" height="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{graphmodel.ProductName}} Pie Chart Dependency</div>
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie"
                                chart-data="data" chart-labels="labels" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>


    </div>
