
   <!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{active : activeMenu === node.Path, activeedit : editItem === node.Path && editing,deleted : node.Status==3 }" ng-click="setActive(node)">
        <a class="btn btn-success btn-xs" ng-if="node.Children && node.Children.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
        <!--<span>{{node.Path}}</span>-->
        <span ng-show="!editing || editItem != node.Path" ng-bind="node.Name"></span><input type="text" ng-model="editValue" focus-on="{{node.Path}}" ng-show="editItem === node.Path && editing" />

        <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="editok(this)" ng-show="editItem === node.Path && editing">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="editcancel(this)" ng-show="editItem === node.Path && editing">
            <span class="glyphicon glyphicon-remove"></span>
        </a>


        <span ng-show="settings.edit && node.Status!=3">
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="edit(this)" ng-hide="editItem === node.Path && editing">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </span>



        <span ng-show="settings.delete && node.Status!=3">
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)" ng-hide="editItem === node.Path && editing">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </span>

        <span ng-show="settings.add && node.Status!=3">
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;" ng-hide="editItem === node.Path && editing">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </span>

        <span ng-show="settings.exportexcel && node.Status!=3" class="pull-right">
            <input type="checkbox" id="{{node.Path}}" ng-click="updateExcelExport(node.Path,node.Name)" />
        </span>


    </div>
    <ol ui-tree-nodes="" ng-model="node.Children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.Children track by $index" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>


<!--Search-->
<script type="text/ng-template" id="nodes_renderer_searach.html">
    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{active : activeMenu === node.Path, activeedit : editItem === node.Path && editing,deleted : node.Status==3 }" ng-click="setActive(node)">
        <a class="btn btn-success btn-xs" ng-if="node.Children && node.Children.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
        <!--<span>{{node.Path}}</span>-->
        <span ng-show="!editing || editItem != node.Path" ng-bind="node.Name"></span><input type="text" ng-model="editValue" focus-on="{{node.Path}}" ng-show="editItem === node.Path && editing" />

        <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="editok(this)" ng-show="editItem === node.Path && editing">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="editcancel(this)" ng-show="editItem === node.Path && editing">
            <span class="glyphicon glyphicon-remove"></span>
        </a>


        <span ng-show="settings.edit && node.Status!=3">
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="edit(this)" ng-hide="editItem === node.Path && editing">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </span>



        <span ng-show="settings.delete && node.Status!=3">
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)" ng-hide="editItem === node.Path && editing">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </span>

        <span ng-show="settings.add && node.Status!=3">
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;" ng-hide="editItem === node.Path && editing">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </span>

        <span ng-show="settings.exportexcel && node.Status!=3" class="pull-right">
         <input type="checkbox" id="search-{{node.Path}}" ng-click="updateSearchExcelExport(node.Path,node.Name)" />
        </span>


    </div>
    <ol ui-tree-nodes="" ng-model="node.Children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.Children track by $index" ui-tree-node ng-include="'nodes_renderer_searach.html'">
        </li>
    </ol>
</script>

<style>
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        max-width: 1600px; /* or 950px */
    }

    }

    .funcdetails.active {
        color: #438eb9;
        background: gainsboro;
        border-color: #dce2e8;
        
    }

    .funcdetails.activeedit {
        color: #438eb9;
        background: #428bca;
        border-color: #dce2e8;
    }

    .regular-checkbox {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }

    .glyphicon.normal-right-spinner {
        -webkit-animation: glyphicon-spin-r 2s infinite linear;
        animation: glyphicon-spin-r 2s infinite linear;
    }

    @-webkit-keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @-webkit-keyframes glyphicon-spin-l {
        0% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }

        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

    @keyframes glyphicon-spin-l {
        0% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }

        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
</style>


<div class="container-fluid" ng-cloak>

    <div class="row">
        <div class="col-md-4">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <table>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default btn-lg pull-left" ng-click="openAside('left', true)">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </button>
                            </td>
                            <td>
                                <input type="text" style="width: 20em;" ng-model="query" class="search-input form-control input-lg" placeholder="Quick search..." />
                            </td>
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button" ng-click="search(query)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </td>
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button" ng-click="searchCancel(query)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-md-8"><div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}</div></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form name="outerForm" class="tab-form-demo">
                <uib-tabset active="tabselected">
                    <uib-tab index="0" heading="List">
                        <div ui-tree style="overflow: scroll;" class="wrapper" data-drag-enabled="false" id="tree-root">
                            <ol ui-tree-nodes ng-model="nodeData" style="height: 600px;">
                                <li ng-repeat="node in nodeData track by $index" ui-tree-node ng-include="'nodes_renderer.html'" data-scroll-container=".wrapper"></li>
                            </ol>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Result">
                        <div ui-tree style="height: 45em; overflow: scroll;" class="wrapper" data-drag-enabled="false" id="tree-root">
                            <ol ui-tree-nodes ng-model="filterSearchArray" style="height: 600px;">
                                <li ng-repeat="node in filterSearchArray" ui-tree-node ng-include="'nodes_renderer_searach.html'" data-scroll-container=".wrapper"></li>
                            </ol>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Export">
                        <table class="table table-bordered">
                            <tr ng-repeat="exportdata in exportList">
                                <td>
                                    {{exportdata.Name}}
                                </td>
                            </tr>
                        </table>
                        <div ng-show="exportList.length > 0"><button class="btn btn-primary" ng-click="exportToExcel()"><span class="glyphicon glyphicon-export"></span> Export</button></div>
                    </uib-tab>
                    <span ng-show="loadingNode" class="glyphicon glyphicon-repeat normal-right-spinner" style="font-size: 2em"></span>
                    <button type="button" class="btn btn-primary pull-right" ng-click="init()">
                        <span class="glyphicon glyphicon-refresh"> </span>
                    </button>
                    <button type="button" class="btn btn-primary pull-right" ng-hide="loadingNode" ng-click="saveNode()">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </uib-tabset>
            </form>
        </div>

        <div class="col-sm-8">
            <div class="info">
                {{Name}}
            </div>
            <!--<pre class="code">{{ data | json }}</pre>-->

            <button class="btn btn btn-primary pull-right" aria-label="Left Align" ng-hide="loading" ng-click="saveNodeDetails()" ng-show="myDataTable.Functional.length>0" ng-controller="MyCtrl">
                <span class="glyphicon glyphicon-save"></span>
            </button>

            <uib-tabset active="3">
                <uib-tab index="3" heading="Functional">
                    <div class="table-responsive" id="FunctionalTable" ng-hide="loading">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>IMPACT AREA</th>
                                    <th>PRODUCT</th>
                                    <th>MODULE</th>
                                    <th>COMPLEXITY</th>
                                    <th></th>
                                    <th><span class="pull-right" ng-show="settings.detailadd"><a class="pull-right btn btn-primary btn-xs" ng-click="addFuncdetails(this)"><span class="glyphicon glyphicon-plus"></span></a></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="funcdetails" ng-repeat="Funcdetails in myDataTable.Functional track by $index" ng-click="setFuncdetailsActive($index)" ng-class="{active : activeFuncdetailsId === $index,activeedit : editItemFuncdetailsId === $index && Funcdetailsediting}">
                                    <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Impact }}</span> <input focus-on="funcdetails-{{$index}}" type="text" ng-model="editFuncDetailsValue.ImpactEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting" /></td>
                                    <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Product }}</span> <input type="text" ng-model="editFuncDetailsValue.ProductEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting" /></td>
                                    <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Module }}</span> <input type="text" ng-model="editFuncDetailsValue.ModuleEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting" /></td>
                                    <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Complexity }}</span> <input type="text" ng-model="editFuncDetailsValue.ComplexityEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting" /></td>

                                    <td ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index"><a ng-show="settings.detailedit" class="pull-right btn btn-primary btn-xs" ng-click="editFuncdetails(Funcdetails,myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-edit"></span></a></td>
                                    <td ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index"><a ng-show="settings.detaildelete" class="pull-right btn btn-danger btn-xs" ng-click="removeFuncdetails(myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>

                                    <td ng-hide="!Funcdetailsediting || editItemFuncdetailsId != $index"><a class="pull-right btn btn-primary btn-xs" ng-click="editFuncdetailsOk(Funcdetails,myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-ok"></span></a></td>
                                    <td ng-hide="!Funcdetailsediting || editItemFuncdetailsId != $index"><a class="pull-right btn btn-danger btn-xs" ng-click="removeFuncdetailsCancel(Funcdetails,myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="4" heading="Database">
                    <div class="tab-pane" id="DatabaseTable" ng-hide="loading">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>DbObject</th>
                                    <th>DbType</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th><span class="pull-right" ng-show="settings.detailadd"><a class="pull-right btn btn-primary btn-xs" ng-click="addDBdetails(this)"><span class="glyphicon glyphicon-plus"></span></a></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="DBdetails in myDataTable.DatabaseDetails track by $index" ng-click="setDBdetailsActive($index)" ng-class="{active : activeDBdetailsId === $index,activeedit : editItemDBdetailsId === $index && DBdetailsediting}">
                                    <td> <span ng-show="!DBdetailsediting || editItemDBdetailsId != $index">{{ DBdetails.DbObject || '' }}</span> <input focus-on="DBdetails-{{$index}}" type="text" ng-model="editDBDetailsValue.DbObject" ng-show="editItemDBdetailsId === $index && DBdetailsediting" /></td>
                                    <td> <span ng-show="!DBdetailsediting || editItemDBdetailsId != $index">{{ DBdetails.DbType || '123'}}</span> <input type="text" ng-model="editDBDetailsValue.DbType" ng-show="editItemDBdetailsId === $index && DBdetailsediting" /></td>
                                    <td> <span ng-show="!DBdetailsediting || editItemDBdetailsId != $index">{{ DBdetails.Description }}</span> <input type="text" ng-model="editDBDetailsValue.Description" ng-show="editItemDBdetailsId === $index && DBdetailsediting" /></td>

                                    <td ng-show="!DBdetailsediting || editItemDBdetailsId != $index"><a ng-show="settings.detailedit" class="pull-right btn btn-primary btn-xs" ng-click="editDBdetails(DBdetails,myDataTable.DatabaseDetails.indexOf(DBdetails))"><span class="glyphicon glyphicon-edit"></span></a></td>
                                    <td ng-show="!DBdetailsediting || editItemDBdetailsId != $index"><a ng-show="settings.detaildelete" class="pull-right btn btn-danger btn-xs" ng-click="removeDBdetails(myDataTable.DatabaseDetails.indexOf(DBdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>

                                    <td ng-hide="!DBdetailsediting || editItemDBdetailsId != $index"><a class="pull-right btn btn-primary btn-xs" ng-click="editDBdetailsOk(DBdetails,myDataTable.DatabaseDetails.indexOf(DBdetails))"><span class="glyphicon glyphicon-ok"></span></a></td>
                                    <td ng-hide="!DBdetailsediting || editItemDBdetailsId != $index"><a class="pull-right btn btn-danger btn-xs" ng-click="removeDBdetailsCancel(DBdetails,myDataTable.DatabaseDetails.indexOf(DBdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="5" heading="Other Details">
                    <div class="tab-pane " id="OthersTable" ng-hide="loading">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Module</th>
                                    <th>Complexity</th>
                                    <th></th>
                                    <th><span class="pull-right" ng-show="settings.detailadd"><a class="pull-right btn btn-primary btn-xs" ng-click="addOtherdetails(this)"><span class="glyphicon glyphicon-plus"></span></a></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Otherdetails in myDataTable.AdditionalDetails track by $index" ng-click="setOtherdetailsActive($index)" ng-class="{active : activeOtherdetailsId === $index,activeedit : editItemOtherdetailsId === $index && Otherdetailsediting}">
                                    <td> <span ng-show="!Otherdetailsediting || editItemOtherdetailsId != $index">{{ Otherdetails.Description }}</span> <input type="text" focus-on="Otherdetails-{{$index}}" ng-model="editOtherDetailsValue.DescriptionEdit" ng-show="editItemOtherdetailsId === $index && Otherdetailsediting" /></td>
                                    <td> <span ng-show="!Otherdetailsediting || editItemOtherdetailsId != $index">{{ Otherdetails.Type || '123'}}</span> <input type="text" ng-model="editOtherDetailsValue.TypeEdit" ng-show="editItemOtherdetailsId === $index && Otherdetailsediting" /></td>
                                    <td> <span ng-show="!Otherdetailsediting || editItemOtherdetailsId != $index">{{ Otherdetails.Module || '123' }}</span> <input type="text" ng-model="editOtherDetailsValue.ModuleEdit" ng-show="editItemOtherdetailsId === $index && Otherdetailsediting" /></td>
                                    <td> <span ng-show="!Otherdetailsediting || editItemOtherdetailsId != $index">{{ Otherdetails.Complexity || '123' }}</span> <input type="text" ng-model="editOtherDetailsValue.ComplexityEdit" ng-show="editItemOtherdetailsId === $index && Otherdetailsediting" /></td>



                                    <td ng-show="!Otherdetailsediting || editItemOtherdetailsId != $index"><a ng-show="settings.detailedit" class="pull-right btn btn-primary btn-xs" ng-click="editOtherdetails(Otherdetails,myDataTable.AdditionalDetails.indexOf(Otherdetails))"><span class="glyphicon glyphicon-edit"></span></a></td>
                                    <td ng-show="!Otherdetailsediting || editItemOtherdetailsId != $index"><a ng-show="settings.detaildelete" class="pull-right btn btn-danger btn-xs" ng-click="removeOtherdetails(myDataTable.AdditionalDetails.indexOf(Otherdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>

                                    <td ng-hide="!Otherdetailsediting || editItemOtherdetailsId != $index"><a class="pull-right btn btn-primary btn-xs" ng-click="editOtherdetailsOk(Otherdetails,myDataTable.AdditionalDetails.indexOf(Otherdetails))"><span class="glyphicon glyphicon-ok"></span></a></td>
                                    <td ng-hide="!Otherdetailsediting || editItemOtherdetailsId != $index"><a class="pull-right btn btn-danger btn-xs" ng-click="removeOtherdetailsCancel(Otherdetails,myDataTable.AdditionalDetails.indexOf(Otherdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>



            <span ng-show="loading" class="glyphicon glyphicon-repeat normal-right-spinner" style="font-size: 2em"></span>
            <!--<div class="card text-left">
                <div class="card-header">
                    <span class="pull-right" ng-show="myDataTable.Functional.length>0"><a class="pull-right btn btn-primary btn-xs" ng-click="addFuncdetails(this)"><span class="glyphicon glyphicon-plus"></span></a></span>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="active"><a href="#FunctionalTable" data-toggle="tab" style="background-color: rgb(91, 192, 222);">Functional</a></li>
                        <li><a href="#DatabaseTable" data-toggle="tab" style="background-color: rgb(91, 192, 222);">Database</a></li>
                        <li><a href="#OthersTable" data-toggle="tab" style="background-color: rgb(91, 192, 222);">Other Details</a></li>
                    </ul>

                </div>
                <div class="tab-content">
                    <div class="tab-pane active table-responsive" id="FunctionalTable">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>IMPACT AREA</th>
                                <th>PRODUCT</th>
                                <th>MODULE</th>
                                <th>COMPLEXITY</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="funcdetails" ng-repeat="Funcdetails in myDataTable.Functional track by $index" ng-click="setFuncdetailsActive($index)" ng-class="{active : activeFuncdetailsId === $index,activeedit : editItemFuncdetailsId === $index && Funcdetailsediting}">
                                <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Impact }}</span> <input type="text" ng-model="editFuncDetailsValue.ImpactEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting"/></td>
                                <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Product }}</span> <input type="text" ng-model="editFuncDetailsValue.ProductEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting"/></td>
                                <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Module }}</span> <input type="text" ng-model="editFuncDetailsValue.ModuleEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting"/></td>
                                <td> <span ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index">{{ Funcdetails.Complexity }}</span> <input type="text" ng-model="editFuncDetailsValue.ComplexityEdit" ng-show="editItemFuncdetailsId === $index && Funcdetailsediting"/></td>

                                <td ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index"><a class="pull-right btn btn-primary btn-xs" ng-click="editFuncdetails(Funcdetails,myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td ng-show="!Funcdetailsediting || editItemFuncdetailsId != $index"><a class="pull-right btn btn-danger btn-xs" ng-click="removeFuncdetails(myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>

                                <td ng-hide="!Funcdetailsediting || editItemFuncdetailsId != $index"><a class="pull-right btn btn-primary btn-xs" ng-click="editFuncdetailsOk(Funcdetails,myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-ok"></span></a></td>
                                <td ng-hide="!Funcdetailsediting || editItemFuncdetailsId != $index"><a class="pull-right btn btn-danger btn-xs" ng-click="removeFuncdetailsCancel(Funcdetails,myDataTable.Functional.indexOf(Funcdetails))"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="DatabaseTable">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Impact Details</th>
                                <th>Product</th>
                                <th>Module</th>
                                <th>Compexity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="DBDetails in myDataTable.DatabaseDetails">
                                <td>{{ DBDetails.Description }}</td>
                                <td>{{ DBDetails.DbObject }}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane " id="OthersTable">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Impact Details</th>
                                <th>Product</th>
                                <th>Module</th>
                                <th>Compexity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="AddDetails in myDataTable.AdditionalDetails">
                                <td>{{ AddDetails.DbType }}</td>
                                <td>{{ AddDetails.DbObject }}</td>
                                <td>{{ AddDetails.Description }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </div>
    </div>


</div>