<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="modal-header">  
    <div class="row">
        <div class="pull-left"><h1 class="modal-title" style="text-transform:uppercase;color:white;">Settings</h1></div>
        <div class="col-md-4 pull-right"><span title="Save Settings" ng-click="ok($event)" class="glyphicon glyphicon-ok-circle pull-right" style="font-size: 2em;cursor: pointer"></span></div>
    </div>
</div>
<div class="modal-body">
    <h4 class="modal-title">Node Settings</h4>
    <table class="table">
        <tbody>
        <tr>
            <td>               
                <div class="input-group">                      
                    <label for="source"> Select Source: </label><br>
                    <div class="styled-select slate">
                        <select name="source" ng-model="settings.DefaultSource">
                            <option ng-repeat="option in settings.Sources" value="{{option}}">{{option}}</option>
                        </select>  
                    </div>                 
                </div>
            </td>
        </tr>  
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.ExportExcel"> Export Excel
                    </label>
                </div>
            </td>
        </tr>
        <tr ng-show="settings.Role==1">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.EditNode"> Edit Node
                    </label>
                </div>
            </td>
        </tr>
        <tr ng-show="settings.Role==1">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.DeleteNode"> Delete Node
                    </label>
                </div>
            </td>
        </tr>
        <tr ng-show="settings.Role==1">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.AddNode"> Add Node
                    </label>
                </div>
            </td>
        </tr>
            <!--<tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="settings.ExpandTree"> Expand Tree Node
                        </label>
                    </div>
                </td>
            </tr>-->
        </tbody>
    </table>

    <h4 class="modal-title">Node Details Settings</h4>

    <table class="table">
        <tbody>
            <tr ng-show="settings.Role==1">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="settings.EditNodeDetail"> Edit Node Details
                        </label>
                    </div>
                </td>
            </tr>
            <tr ng-show="settings.Role==1">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="settings.DeleteNodeDetail"> Delete Node Details
                        </label>
                    </div>
                </td>
            </tr>
        <tr ng-show="settings.Role==1">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.AddNodeDetail"> Add Node Details
                    </label>
                </div>
            </td>
        </tr>
   </table>
</div>
<div class="modal-footer">
   
</div>